
out/production/DoitCT/.idea/.name
out/production/DoitCT/.idea/modules.xml
out/production/DoitCT/.idea/misc.xml
out/production/DoitCT/.idea/dataSources.xml
out/production/DoitCT/.idea/uiDesigner.xml
out/production/DoitCT/.idea/vcs.xml
out/production/DoitCT/DoitCT.iml
out/production/DoitCT/Main.class
.idea/misc.xml
out/production/DoitCT/out/production/DoitCT/.idea/.name
out/production/DoitCT/out/production/DoitCT/.idea/dataSources.xml
out/production/DoitCT/out/production/DoitCT/.idea/misc.xml
out/production/DoitCT/out/production/DoitCT/.idea/modules.xml
*.xml
*.iml
*.lock
*.properties
*.probe
*.bin
/.gradle
